# WAP to accept a list from the user and print the alternate element of list

In [5]:
list1 = []
for i in range(5):
    inp = input("Enter the list")
    list1.insert(i,inp)
print("Updated List :", list1)

Enter the listMango
Enter the listApple
Enter the listBanana
Enter the listGraps
Enter the listKivi
Updated List : ['Mango', 'Apple', 'Banana', 'Graps', 'Kivi']

# WAP to remove the element "3" to given list [1,2,34,5,6]

In [6]:
l1 = [1,2,3,4,5,6]
l1.remove(3)
print(l1)

[1, 2, 4, 5, 6]

# WAP to insert the element "Python" on index 2in the given list ["Java","Php",".Net","Angular"]

In [7]:
list2  = ["Java","Php",".Net","Angular"]
list2.insert(2,"Python")
print(list2)

['Java', 'Php', 'Python', '.Net', 'Angular']

# WAP to add element in list using for loop

In [1]:
list3 = []
for i in range(5):
    str = input("Enter the list")
    list3.insert(i,str)
print(list3)

Enter the listpython
Enter the listprogram
Enter the listjava
Enter the listphp
Enter the listangular
['python', 'program', 'java', 'php', 'angular']

# WAP TO PERFORM SLICING ON TUPLE ("Python",1,2,3,"java","A","B") With following slicing point 
# print alternate value of tuple
# print value between 1 to 5
# print the last value of tuple

In [9]:
t1 = ("Python",1,2,3,"Java","A","B")

print("Alternate Value of tuple",t1[5])
print("Between 1 to 5 Value of tuple",t1[1:5])
print("Alternate Value of tuple",t1[-1])

Alternate Value of tuple A
Between 1 to 5 Value of tuple (1, 2, 3, 'Java')
Alternate Value of tuple B

# WAP TO COUNT ELEMENT IN GIVEN TUPLE (1,2,3,4,5,6,7,8)

In [15]:
t2 = (1,2,3,4,5,6,7,8)
print("Using Len () :",len(t2))
count = 0
for i in t2:
    count = count+1
print("Using for Loop",count)

Using Len () : 8
Using for Loop 8

# WAP to Conert tuple into list

In [17]:
t2 = (1,2,3,4,5,6,7,8)
x = list(t2)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

# WAP to convert the given list into dictionary

In [27]:
list1 = [1,2,3,4,5]
list2 = ['A','B','C','D','E']
d1 = dict(zip(list1,list2))
print(d1)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

# WAP to print keysfrom the given dictionary

In [28]:
d1 = {1:"apple",2:"Mango",3:"banana",}
print(d1.keys())

dict_keys([1, 2, 3])

# WAP to print values from the given dictionary

In [33]:
d2 = {1:"Apple",2:"Mango",3:"Banana"}
print(d2.values())

dict_values(['Apple', 'Mango', 'Banana'])