# Arithmetic Operators

In [1]:
# Addition Operator
x=20
y=10
z=x+y
print("Answwer :",z)

Answwer : 30

In [3]:
# Subtraction Operator
x=30
y=10
z=x-y
print("Answer :",z)

Answer : 20

In [2]:
# Multiplication Operator
x=10
y=3
z=x*y
print("Answer :",z)

Answer : 30

# Assignment Operators

In [4]:
# Equal to Operator

x=5
print("X :",x)

X : 5

In [6]:
# Addition and equal to operator
x = 5
x += 5   #   x=x+5
print("X :",x)

X : 10

In [7]:
# Subtraction and equal to operator

x = 5
x -=2   #  x= x-2
print("X :",x)

X : 3

# Comparison Operators

In [9]:
# Equal to Equal to operator
x = 5
y = 5
print(x==y)

True

In [10]:
# Not Equal to Operator
x = 5
y = 3
print(x!=y)

True

In [11]:
# Greater than equal to
x = 5
y = 3
print(x>y)

True

In [12]:
1

1

# Logical Operator

In [13]:
# And operator
x = 5
print(x>3 and x<3)

False

In [16]:
# Or operator
x = 5
print(x>3 or x<4)

True

# Identity Operator

In [19]:
# Is Operator

x = ["Apple","Mango"]
y = ["Apple","Mango"]
z = x
print(x is y)  # the object is not matching that's why it's give's us false

print(x is z)   # the object is matching that's why it's retun's true

False
True

# Membership Operator

In [21]:
x = ["Apple","Mango"]
print("banana" in x)

print("Graps" not in x)

False
True

# Operator Precedence

In [22]:
a = 20
b = 15
c = 10
d = 5
x = (a+b)*c/d  #  (35*10)/5
print("Value x :",x)

Value x : 70.0